body{
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
section{
    margin-top: 10rem;
    background: rgba(253, 253, 253, 0.425);
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 4px 30px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}
nav{
    background: rgba(0, 0, 0, 0.4);
}